---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="ZIZX">
  <main class="w-screen h-screen bg-black grid place-content-center">
    <h1 class="text-white text-[4em]">Welcome to <span class="text-red-400 animate-pulse">ZIZX</span></h1>

	<p class="text-white text-xl flex justify-center pt-10">Coming soon</p>
  </main>
</Layout>

<style></style>
